.highlight-text{
    color: #000000;
}
.hero-bgimg{
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,0) 84%, rgba(255,255,255,0) 100%), url(../images/bg/blockland-landscape.jpg);
    background-size: cover;
    background-position-x: center;
}
.type-text {font-family: 'Courier Prime', monospace;}

.section-white{background-color: white;}
.hero-subtitle{
    font-size: 2.5rem !important;
    padding: 0 10rem;
    line-height: 1.15 !important;
    font-weight: 100;
    color: black;
}
.cta-base{
    font-size: 1rem;
    color: #040404;
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: .5rem 2rem;
    margin-top: 90px;
    position: relative;
    background-color: #5670bb0d;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1rem;
}
.cta-base:hover{
    background-color: #5670bb;
    color: white;
    transition: box-shadow 0.6s;
    box-shadow: 0px 6px 17px 0px #5670bb6e;
}
.cta-left{}
.cta-mid{}
.cta-right{}

.txt-rotate{
    color: #0057ff;
    font-size: 3.8rem;
    line-height: 5.9rem;
    font-weight: 600;
    /* min-height: 480px; */
    /* position: absolute; */
    text-transform: lowercase;
}



@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
    
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    /* position: relative; */
    /* padding-top: 15%; */
    /* filter: drop-shadow(0 0 10px #0003); */
    /* perspective: 100px; */
  }
  
  .carousel__viewport {
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    /* counter-reset: item; */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
  }
    
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  
  
  
  
  
  
  
  
  
    




.hero-feature {
    color: #5b78b3;
    /* font-weight: 700; */
    font-size: 2.5rem;
    /* font-style: italic; */
    line-height: 2.9rem;
    }
.wallet-title{
    color: #0057ff;
}

.spacemaker{
    /* padding-top: 118px; */
    margin-bottom: 188px;
}

.journey-hero{
    padding: 7px 16px;
    font-size: 1rem;
}

.journey-hero > span {
    padding-left: 12px;
}

.journey-hero:hover {background-color: #0057ff;}

.section-card {
    background-color: #ffffff;
    padding: 1.5rem 2rem !important;
    border-radius: 50px;
}

.footer-card {
    background-color: white;
    padding: 1rem 5rem;
    border-radius: 16px;
    border: 1px solid #c4c7ce;
}

.footer-section {
    background-color: #d9d9d9 !important;
    padding: 0rem 1.5rem !important;
}
.divider-left {
    width: 20px;
    border-right: 1px solid #0000001a;
    height: 40px;
    margin-top: 14px;
}
.divider-right {
    width: 20px;
}
.subtitle-tweak{
    margin-bottom: -9px !important;
    margin-top: 20px !important;
}
.price-title{
    color: #00edb1;
    font-size: 2rem;
    font-weight: 700;
}

.bonus-container{
    border: 1px solid #00edb1;
    border-radius: 8px;
}
.bonus-description{
    background-color: #00edb1;
    border-radius: 6px;
    margin: .4rem;
}
.bonus-amount{
    font-size: 2.2rem;
    font-weight: 700;
    color: #1d2339;
    padding-left: 2rem;
    padding-top: .3rem;
    letter-spacing: -.1rem;
}
.bonus-date{
    padding-left: 2rem;
    margin-top: -.9rem;
    padding-bottom: 1.25rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #1d2339;
    letter-spacing: -.03rem;
}
.bonus-title{
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    color: #00edb1;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .1rem;
}
.bonus-period{
    font-size: 4rem;
    font-weight: 700;
    color: #00edb1;
}
.bonus-blue{
    color: #00BEED;
}
.bonus-blue2{
    border: 1px solid #00BEED;
}
.bonus-blue3{
    color: #00BEED;
}
.bonus-blue4{
    background-color: #00BEED;
}
.bonus-yellow{
    color: #EDDD00;
}
.bonus-yellow2{
    border: 1px solid #EDDD00;
}
.bonus-yellow3{
    color: #EDDD00;
}
.bonus-yellow4{
    background-color: #EDDD00;
}
.bonus-white{
    color: white;
}
.bonus-white2{
    border: 1px solid white;
}
.bonus-white3{
    color: white;
}
.bonus-white4{
    background-color: white;
}
.bonus-footnote{
    text-align: right;
    color: white;
    padding-bottom: 3rem;
    margin-top: -1rem;
}


.tall-box {
    height: 500px;
}
.short-box {
    /* height: 250px; */
}
.display-block-popup{
    display: block !important;
    height: auto !important;
}
.subscribe-form-popup{
    padding: 5% 10% 2% 10%;
    border-radius: 0px 0px 4px 4px;
    background-image: url(images/sub-popup-bg.svg);
    background-size: cover;
}
.popup-sub-logo-img{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.popup-sub-container{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    color: #1d2339;

}
.popup-sub-bg{
    background-color: #1d2339a8;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-sub-modal{
    background-color: white;
    border-radius: 4px;
    max-width: 600px;
    border: 1px solid #1d2339;
    box-shadow: 0px 20px 40px #1d2339;
    height: auto;
}
.popup-sub-title{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 5%;
}
.popup-sub-logo{
    text-align: center;
}
.popup-sub-title-container{
    color: #1d2339;
    padding: 12px;
    border-radius: 4px 4px 0 0;
}
.popup-sub-body{

}
.hide-modal{
    text-transform: uppercase;
    margin-top: 5%;
    color: #1d233991;
    text-align: center;
    font-weight: 700;
    font-size: .8rem;
    width: 60%;
    display: inline-block;
    text-align: center;
    margin-left: 20%;
}
.hide-modal:hover{
    color: #1d2339;
}

.popup-sub-body-text{
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.subscribe-input-popup{
    border-radius: 4px;
    border: 1px solid grey;
    width: 100%;
    height: 46px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.subscribe-button-popup{
    background-color: #1d2339 !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    margin-top: 0px;
    height: 46px;
    border: 0 solid transparent;
    border-radius: 4px;
    padding-top: 20px;
    text-align: center;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    transition: box-shadow 0.5s;
    }
.subscribe-button-popup:hover{
    box-shadow: 0 9px 15px #1d2339b8;
}
.subscribe-notify-success-popup{
    position: inherit !important;
    top: 0px !important;
    color: #1d2339 !important;
}
.subscribe-notify-failure-popup{
    position: inherit !important;
    top: 0px !important;
    color: #ff2627 !important;
}

.button-nav{

}
.button-nav-blue{}
.button-nav:hover{

background-color: white !important;

box-shadow: 0 8px 12px #0057ff2e;
}

.token-font-title{
    padding-bottom: 30px;
}
.download-button{
    width: 80%;
    margin: .5rem;
}
.download-image{
    width: 90%;
    margin-left: 9%;
}

.article-text{
    font-size: 1.1rem !important;
    opacity: .8;
}
.smaller-title{}
.journey-popup{
    background-color: #ffffff;
    border-radius: 14px;
    padding: 3rem;
    margin-bottom: 2rem;
    /* background-image: url(images/circles-and-shapes-w.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:none;
    overflow: hidden;
    border: 1px solid #c4c7ce;
    }

.journey-popup-text{
    font-size: 1.125rem;
}
.journey-wrapper{}
.active-journey{
    border: 1px solid #0057ff !important;
    box-shadow: 0 8px 12px #0057ff36;
}
.active-journey:hover{box-shadow: 0 8px 12px #0057ff36 !important;}
.is-popup{display:block;}
.embed-site{
    height: calc(100vh - 4.6rem);
}

.blue-bg{background-color:#1D2339;}

.token-button{
    background-color: #0057ff !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    margin-top: 0px;
}
.token-button:hover{
    box-shadow: 0px 14px 26px white !important;
}
.timer-block-container{margin-bottom: 3rem !important;}
.timer-block-outer{
    background-color: white;
    border-radius: 312px;
    margin-left: 10%;
    margin-bottom: 2rem;
    width: 80% !important;
}
.block-timer{
    background-color: #00edb1;
    border-radius: 399px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 3rem;
    font-weight: 700;
    padding-bottom: .45rem;
    position: relative;
    left: -0.4rem;
    color: #1d2339;
}
.block-timer-label{
    font-size: 2rem;
    font-weight: 500;
    color: #1d2339;
    padding-left: .85rem;
    text-transform: uppercase;
    position: relative;
    top: -.35rem;
}


.font-timer{
    font-size: 3rem;
    margin-bottom: 0rem !important;
}
.timer-subtitle{
    font-size: 1.55rem;
    margin-bottom: 0rem !important;
}

.subscribe-text {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
}
.subscribe-title {
    font-size: 2rem;
    padding-bottom: 11px;
    padding-left: 20px;
}
.subscribe-input {
    position: relative;
    display: inline;
    border-radius: 1000px 0px 0px 1000px;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.8s;
    padding-bottom: 5px;
    font-size: 1.5rem;
    background-color: #1d2339;
    border-color: #ffffff;
    color: #ffffff;
    max-width: 100%;
    width: 100%;
    box-shadow: none !important;
    border: 3px solid #ffffff;
}
.subscribe-button {
    position: relative;
    display: inline;
    border-radius: 0px 1000px 1000px 0px;
    font-size: 2rem;
    padding-top: 0px;
    padding-bottom: 2px;
    font-weight: 900;
    padding-left: 17px;
    color: #1d2339;
    border-color: white;
    margin-left: -5px;
}

.subscribe-button:hover {background-color: #00e0b7;border-color: transparent;color: white;}
.subscribe-notify {
    display: block;
    position: absolute;
    top: 70px;
    font-size: .9rem;
    color: red;
    margin-left: 20px;
}
.subscribe-notify-success {
    color: #00edb1;
    display: block;
}
.subscribe-notify-failure {
    display: block;
}

textarea:focus, input:focus{
    outline: none;
}

.subscribe-form {
    display: flex;
    padding-bottom: 5px;
}

.subscribe-section {
    background-image: url();
    background-image: url(images/mockups/mv-iphone-wallet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.font-15 {
    font-size: 2rem;
    margin-bottom: 0px !important;
    color: #00edb1;
}



@media screen and (max-width: 1279px) {
    .wallet-title{
        line-height: 2rem;
        font-size: 1rem;
    }
    .title-line-height{
        line-height: 2rem;
    }
    .pad-title{
        font-size: 3rem;
        line-height: 4rem;
    }
    .spacemaker{}
    .hero-subtitle{
        font-size: 1.5rem !important;
    }
    
    .txt-rotate{font-size: 2.5rem;}
          
    }
}

@media screen and (min-width: 1087px) {

.button-nav-blue:hover{
    background-color: #0057ff !important;
    box-shadow: 0 8px 12px #0057ff36;
    color: white !important;
}
}
@media screen and (max-width: 1087px) {
.navbutton-tablet{/* padding: 100% !important; */}
.divider-left {border-right: 1px solid transparent;}

.button-nav-blue{
    background-color: #ffffff  !important;
    color: #0057ff !important;
    transition: box-shadow 0.6s;
    border: 1.25px solid #0057ff;
    border-radius: 5px;
    font-weight: 500;
    padding: 1rem !important;
    margin: 0% 30% 3% 30% !important;
}
@media screen and (max-width: 960px) {
.contact-icon{
    /* width: 0px !important; */
    /* height: 10px !important; */
    /* border-radius: 180% !important; */
    display: none !important;
}
}
}
@media screen and (max-width: 1000px) {

.grid-clients .client{
    margin-left: 80px !important;
    margin-right: 80px !important;
}
}
@media screen and (max-width: 460px) {
    .hero-bgimg{
        background-position-y: -70px;
        /* background-size: 410%; */
    }

.hero-body.hero-bgimg {}
.txt-rotate{
    font-size: 1.8rem !important;
}
.spacemaker{
    margin-bottom: 294px !important;
}
}
@media screen and (max-width: 768px) {
    .navbutton-tablet{/* padding: 100% !important; */}
    .divider-left {border-right: 1px solid transparent;}
    .mvlogo-pad{
    padding-bottom: 4rem;
}
.spacemaker{
    margin-bottom: 188px;
}
.hero-subtitle{
    font-size: 1rem !important;
    padding: 0;
}
.txt-rotate{font-size: 1.5rem;/* width: 30%; *//* padding: 0rem 2rem; */line-height: 2rem;}
.title{
    line-height: 3rem;
    font-size: 2rem !important;
}

    .button-nav-blue{
        background-color: #ffffff  !important;
        color: #0057ff !important;
        transition: box-shadow 0.6s;
        border: 1.25px solid #0057ff;
        border-radius: 5px;
        font-weight: 500;
        padding: 1rem 0rem !important;
        margin: 0% 20% 3% 20% !important;
        width: auto !important;
    }
    
    }
    @media screen and (max-width: 1000px) {
    
    .grid-clients .client{
        margin-left: 80px !important;
        margin-right: 80px !important;
    }


.subtitle-tweak{
    margin-bottom: -9px !important;
    margin-top: 20px !important;
}
.price-title{
    color: #00edb1;
    font-size: 2rem;
    font-weight: 700;
}

.bonus-container{
    border: 1px solid #00edb1;
    border-radius: 8px;
}
.bonus-description{
    background-color: #00edb1;
    border-radius: 6px;
    margin: .4rem;
}
.bonus-amount{
    font-size: 2.2rem;
    font-weight: 700;
    color: #1d2339;
    padding-left: 2rem;
    padding-top: .3rem;
    letter-spacing: -.1rem;
}
.bonus-date{
    padding-left: 2rem;
    margin-top: -.9rem;
    padding-bottom: 1.25rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #1d2339;
    letter-spacing: -.03rem;
}
.bonus-title{
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    color: #00edb1;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .1rem;
}
.bonus-period{
    font-size: 4rem;
    font-weight: 700;
    color: #00edb1;
    margin-top: -3rem;
    margin-bottom: -1.5rem;
}
.bonus-blue{
    color: #00BEED;
}
.bonus-blue2{
    border: 1px solid #00BEED;
}
.bonus-blue3{
    color: #00BEED;
}
.bonus-blue4{
    background-color: #00BEED;
}
.bonus-yellow{
    color: #EDDD00;
}
.bonus-yellow2{
    border: 1px solid #EDDD00;
}
.bonus-yellow3{
    color: #EDDD00;
}
.bonus-yellow4{
    background-color: #EDDD00;
}
.bonus-white{
    color: white;
}
.bonus-white2{
    border: 1px solid white;
}
.bonus-white3{
    color: white;
}
.bonus-white4{
    background-color: white;
}
.bonus-footnote{
    text-align: right;
    color: white;
    padding-bottom: 3rem;
    margin-top: -1rem;
}


.display-block-popup{
    display: block !important;
    height: auto !important;
}
.subscribe-form-popup{
    background-color: #00edb1;
    padding: 5% 10% 2% 10%;
    border-radius: 4px;
}
.popup-sub-logo-img{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.popup-sub-container{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    color: #1d2339;

}
.popup-sub-bg{
    background-color: #1d2339a8;
    height: 100%;
    position: absolute;
    width: 100%;
}
.popup-sub-modal{
    background-color: white;
    border-radius: 4px;
    width: 76%;
    min-height: 300px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 200PX;
    border: 1px solid #1d2339;
    box-shadow: 0px 20px 40px #1d2339;
}
.popup-sub-title{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 5%;
}
.popup-sub-logo{
    text-align: center;
}
.popup-sub-title-container{
    color: #1d2339;
    padding: 12px;
    border-radius: 4px 4px 0 0;
}
.popup-sub-body{

}
.hide-modal{
    text-transform: uppercase;
    margin-top: 5%;
    color: #1d233991;
    text-align: center;
    font-weight: 700;
    font-size: .8rem;
    width: 60%;
    display: inline-block;
    text-align: center;
    margin-left: 20%;
}

.popup-sub-body-text{
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.subscribe-input-popup{
    border-radius: 4px;
    border: 1px solid grey;
    width: 100%;
    height: 46px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.subscribe-button-popup{
    background-color: #1d2339 !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    margin-top: 0px;
    height: 46px;
    border: 0 solid transparent;
    border-radius: 4px;
    padding-top: 12px;
    text-align: center;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    }
.subscribe-button-popup:hover{}
.subscribe-notify-success-popup{}
.subscribe-notify-failure-popup{}

    
}





@media screen and (min-width: 768px) {

.subscribe-text { margin-top:-20px
}

.subscribe-column {
    width: 50%;
}

.token-font-title{}


}


.subscribe-column-top{
}

.subscribe-title-top {
    font-size: 2rem;
    /* padding-bottom: 0.5rem; */
    /* text-shadow: 0 3px rgba(29,35,57,0.1); */
}
.subscribe-input-top {
    position: relative;
    display: inline;
    border-radius: 8px;
    transition: all 0.8s;
    padding: 0rem 2rem;
    font-size: 1.3rem;
    background-color: #ffffff;
    color: #5670bb;
    max-width: 100%;
    width: 100%;
    font-weight: 600;
    border: 0px solid #5670bb;
    /* border: 1px solid #000000; */
    /* margin-right: 20px; */
    box-shadow: 0px 11px 16px #5670bb2b;
}
.subscribe-button-top {
    position: relative;
    display: inline;
    border-radius: 8px;
    font-size: 1.42rem;
    /* padding: 0.5em 1em 1.5em 1em; */
    font-weight: 600;
    margin-left: 12px;
    margin-top: -0px;
    color: #ffffff;
    padding-bottom: .6rem;
    /* border: 1px solid #0057ff; */
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0px 11px 16px #5670bb2b;
}

.subscribe-button-top:hover {background-color: #000000;color: #ffffff;/* border: 1px solid white; */}
.subscribe-notify-top {
    position: absolute;
    top: 50px;
    font-size: .9rem;
    color: white;
    max-width: 300px;
    margin-left: 10px;
}
.subscribe-notify-success-top {
    color: #0a0a0a;
    display: block;
    background-color: #00edb1;
    border-radius: 1000px;
    width: 90%;
    padding: 3px;
    text-align: center;
}
.subscribe-notify-failure-top {
    display: block;
    background-color: #ff0c00;
    border-radius: 1000px;
    width: 60%;
    padding: 3px;
    text-align: center;
}



.subscribe-form-top {
    display: flex;
    padding-bottom: 5px;
    height: 50px;
}


.pad-title{

}




















.journey-name{
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 10px;
    color: #1d2339;
    text-align: center;
    padding-bottom: 50px;
}

.shadow-hover:hover{
    box-shadow: 0px 10px 10px #00000017;
    transition: 1s;
}

.image-box{
    margin: 0px;
    border-radius: 4px;
}

.journey-box{
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    background: #fff;
    border: 1px solid #ededed;
    }

.italic{
    font-style: italic;
}

.input-select {
    background-color: #fff;
    border-color: #ffffff;
    color: rgb(86 112 187);
    box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 1000px;
    padding-right: 20px;
    padding-left: 5px;
    margin-top: 0.3rem;
    padding-left: 1rem;
    border: 1px solid #c4c7ce;
    }


.input-select:focus {outline:none}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 5px;
    text-overflow: '';
}

.showcase-wrapper-token {opacity:0;visibility:hidden !important;height:0px;transition: opacity 1s, height 0.5s;}

.is-visible {opacity:1;visibility:visible !important;height: auto;}

.slide-controls{display:flex;align-items: center;justify-content: center;}
.control-button{background-color: #dbdbdb;width: 3rem;height: 3rem;color: white;border-radius: 1000px;text-align: center;font-size: 1.5rem;line-height: 2.75rem;font-weight: 700;margin: 10px;transition: box-shadow .5s, background-color .5s, width 1s;}
.control-separator{background-color: #ededed;width: .35rem;height: .2rem;border-radius: 1000px;margin: 5px;}
.active-tab{background-color: #1d2339;width: 4rem;box-shadow: 0px 6px 10px #1d23393b;}
.control-button:hover{
    box-shadow: 0px 6px 10px #00edb157;
    background-color: #00edb1;
    color: white;
}
.active-tab:hover{
    background-color: #1d2339;
    box-shadow: 0px 6px 10px #1d23393b;
}


@media screen and (min-width: 768px) {
.button-nav{
    font-weight: 600;
    border-radius: 4px;
    padding: 0 1.25rem 0.2rem 1.25rem;
    background-color: #0057ff;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: white;
    transition: box-shadow 0.6s;
    }


a.navbar-item.is-centered-tablet.button-nav.button-nav-blue {}

a.navbar-item.is-centered-tablet.button-nav.button-nav-blue {}
.download-button{
    width: 46% !important;
    margin: 1.5%;
}

.subscribe-text { margin-top:-20px
}

.subscribe-column {
    width: 50%;
}

.is-visible {opacity:1;visibility:visible !important;height: 550px;}


.timer-block-container{
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 4rem !important;
}

.timer-block-outer{
    background-color: white;
    border-radius: 312px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 250px !important;
}






}


@media screen and (max-width: 1087px) {
.custom-burger {
    display: -ms-flexbox !important;
    display: flex !important;
}
}

